.App {
  text-align: center;
}

.resArea {
  text-align: right;
  border: white 2px solid;
  height: 9vmax;
  width: 13vmax;
  /* text-align: right; */
  display: flex;
  /* align-items: flex-end; */
  justify-content:center;
  /* padding-right: 5rem; */
    /* flex-direction: ; */
  /* word-wrap: break-word; */
}

.resArea[value]{
  border: 1px solid #ddd;
    float: right;
    padding: 30px;
    font-weight: bold;
    font-size: xx-large;
}






.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
