.box {
    width: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 12%);
    justify-content: center;

}

/* .box {
    display: grid;
    /* width: 12%;
    margin-right: 2px; */
    /* flex-direction: row; */


/* }  */